<mat-toolbar color="primary">
    <span>Add New Data</span>
  </mat-toolbar>

  <mat-card>
    <!-- Country -->
    <div>
    <mat-form-field>
      <mat-select placeholder="Country" [(ngModel)]="selectedCountry" name="country">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let country of countries" [value]="country.value">{{country.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="accent" (click)="openBottomSheet()">New</button>
    </div>

    <!-- State -->
    <div>
    <mat-form-field>
      <mat-select placeholder="State" [(ngModel)]="selectedState" name="state" [disabled]="!selectedCountry">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state.value">{{state.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <!-- District -->
    <div>
    <mat-form-field>
      <mat-select placeholder="District" [(ngModel)]="selectedDistrict" name="district" [disabled]="!selectedState">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let district of districts" [value]="district.value">{{district.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <!-- Block -->
    <div>
    <mat-form-field>
      <mat-select placeholder="Block" [(ngModel)]="selectedBlock" name="block" [disabled]="!selectedDistrict">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let block of blocks" [value]="block.value">{{block.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field></div>

    <!-- Panchayat -->
    <div>
    <mat-form-field>
      <mat-select placeholder="Panchayat" [(ngModel)]="selectedPanchayat" name="panchayat" [disabled]="!selectedBlock">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let panchayat of panchayats" [value]="panchayat.value">{{panchayat.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <!-- Village -->
    <div>
    <mat-form-field>
      <mat-select placeholder="Village" [(ngModel)]="selectedVillage" name="village" [disabled]="!selectedPanchayat">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let village of villages" [value]="village.value">{{village.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>

    <p> Selected Country: {{selectedCountry}} </p>
    <p> Selected State: {{selectedState}} </p>
    <p> Selected District: {{selectedDistrict}} </p>
    <p> Selected Block: {{selectedBlock}} </p>
    <p> Selected Panchayat: {{selectedPanchayat}} </p>
    <p> Selected Village: {{selectedVillage}} </p>
  </mat-card>
